.erbjuder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ff7e5f, #feb47b); 
  color: white;
  padding: 2rem;
}
