.erbjuder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #00a7ac, white);
  color: white;
  padding: 2rem;
}
