.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: center; /* Center text horizontally */
}

.aboutUs-info {
  max-width: 90%;
  transition: all 0.3s linear;
  width: 100%;
}

.aboutUs h2 {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.aboutUs p {
  margin: 0.75rem auto;
  max-width: 800px;
  font-size: 0.8rem;
  line-height: 1.6;
}

.aboutUs-description {
  transition: all 0.3s linear;
}

.aboutUs a {
  color: #00a7ac;
}

.more-info {
  margin-top: 1rem;
}

.aboutUs button {
  background-color: #00a7ac;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.aboutUs button:hover {
  background-color: #007f83;
}

.aboutUs-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.aboutUs-contact h4 {
  margin-bottom: 0.5rem;
}

.aboutUs-contact address,
.aboutUs-contact .contact-info {
  margin: 0;
}

.contact-info p {
  margin: 0.2rem 0;
}

.orgnummer {
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.orgnummer-value {
  font-size: 0.7rem;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .aboutUs-contact {
    flex-direction: column;
  }
}
