body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d0d1d1; 
  font-weight: 700;
  font-size: 50px;
}

.fetch-button {
  margin-top: 20px;
  margin-bottom: 10px;
  color:#1a1a1a;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-box {
  margin: 14px;
  text-align: center;
  background: rgba(255, 255, 255, 0.946);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  font-weight: 700;
  
}

.error-message {
  background-color: red;
  color: white;
  padding: 10px;
}

@media (min-width: 800px) {
  .card-box {
    width: 900px ;
  }
}

.custom-appbar {
  margin-top: 10px;
  background-color: rgba(235, 235, 237, 0.659);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #1a1a1a;
  font-weight: 700;
  font-weight: bold;
}

.app-title {
  color: #1d1919;
  font-size: 1.5rem;
  margin-right: 20px;
  font-size: 50px;
  font-weight: bold;
}