
  .mainComp {
    padding: 2rem;
    background: linear-gradient(to bottom, #feb47b, #ff7e5f );
    color: #ffffff; /* White text color */
    text-align: center;
  }
  
  .mainComp-header {
    max-width: 600px;
    margin: 0 auto 2rem auto;
    margin-top: 80px;
  }
  
  .mainComp-title {
    opacity: 0.9; /* Slightly opaque to blend with background */
    border-bottom: 1px solid #ffffff; /* White border bottom */
    font-size: 2.5rem; /* Larger font size for title */
    margin-bottom: 1rem; /* Increased margin */
  }
  
  .mainComp-subtitle {
    margin-bottom: 1rem; /* Increased margin */
    font-size: 1.5rem; /* Font size for subtitle */
  }
  
  .mainComp-description {
    max-width: 90%;
    margin: 0 auto 2rem auto; /* Increased margin */
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.6;
  }
  
  .mainComp-description a {
    color: #ffffff; /* White text color for links */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .mainComp-description a:hover {
    color: #ffd700; /* Highlight color on hover */
  }
  
  .mainComp-content {
    display: flex;
    max-width: 700px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .mainComp-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .mainComp-item:hover {
    transform: scale(1.05);
  }
  
  .mainComp-img {
    background: #ffffff; /* White background for images */
    border-radius: 50%;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
  }
  
  .mainComp-link {
    font-size: 0.8rem;
    color: #ffffff; /* White text color for links */
    max-width: 100px;
    margin-top: 0.3rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .mainComp-link:hover {
    color: #ffd700; /* Highlight color on hover */
  }
  